*.jl.*.cov
*.jl.cov
*.jl.mem
/Manifest.toml
/build/
/docs/Manifest*.toml
/docs/build/
/notebooks/
/Polfed_Models_Details.txt
/lcov.info



*.pdf
*.png
*.jpeg  
*.h5
*.ipynb


.DS_Store
**/.DS_Store
.CondaPkg/
notebooks/.CondaPkg/


*.AppleDouble

# Omit all AppleDouble metadata files (e.g. ._foo)
.AppleDouble/
**/.AppleDouble/
._*
**/._*

# Temporary docs validation folders
docs/build_tmp_validate*.pending_delete*/
docs/build_locked_*/
